<a href="https://colab.research.google.com/github/PavanBJ/Codebasics-DSA/blob/main/Arrays_Codebasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Arrays - 19/09/2022

# Exercise: Array DataStructure

1. Let us say your expense for every month are listed below,
	1. January -  2200
 	2. February - 2350
    3. March - 2600
    4. April - 2130
    5. May - 2190

Create a list to store these monthly expenses and using that find out,

    1. In Feb, how many dollars you spent extra compare to January?
    2. Find out your total expense in first quarter (first three months) of the year.
    3. Find out if you spent exactly 2000 dollars in any month
    4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
    5. You returned an item that you bought in a month of April and
    got a refund of 200$. Make a correction to your monthly expense list
    based on this

In [11]:
exp = [2200,2350,2600,2130,2190]

In [12]:
#1
exp[1]-exp[0]

150

In [13]:
#2
sum(exp[:3])

7150

In [14]:
#3
2000 in exp

False

In [15]:
#4
exp.append(1980)
print(exp)

[2200, 2350, 2600, 2130, 2190, 1980]

In [16]:
#5
print('Before correction:',exp)
exp[3] = exp[3]-200
print('After correction:',exp)

Before correction: [2200, 2350, 2600, 2130, 2190, 1980]
After correction: [2200, 2350, 2600, 1930, 2190, 1980]

2. You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']


1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [32]:
heros=['spider man','thor','hulk','iron man','captain america']

In [33]:
len(heros)

5

In [34]:
heros.append('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [35]:
heros.remove('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [36]:
heros.insert(3,'black panther')
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [37]:
heros[1:3]

['thor', 'hulk']

In [38]:
print('before:',heros)
heros[1:3]=['doctor strange']
print('after:',heros)

before: ['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
after: ['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']

In [41]:
dir(heros)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [45]:
heros.sort()
print(heros)

['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

3. Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [53]:
max_num = int(input('insert number till which you want to have odd numbres:'))
odd_numbers_list = []
i=1
while i<=max_num:
  if i%2 !=0:
    odd_numbers_list.append(i)
    i+=1
  else:
    i+=1
  
print(odd_numbers_list)

insert number till which you want to have odd numbres:25
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]